*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(197, 193, 193);
}

header{
    height: 115px;
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 2rem 2rem;
}


img{
    width: 70px;
    vertical-align: middle;
    height: 67px;
    
}

.button {
    margin-top: 4%;
    padding-left: 15%;
    
}

.azzurro{
    background-color: rgb(68, 130, 201);
    height: 30px;
    width: 60px;
    border-radius: 10px;
    padding: 4px;  
    display: inline-flex;
}

.grey{
    background-color: rgb(80, 79, 79);
    height: 30px;
    width: 100px;
    border-radius: 20px;
    display: inline-flex;
    font-size: 15px;
    padding: 4px;
}

h1{
    display: inline-block;
    font-size: 55px;
    vertical-align: middle;
    
}


ul{
    list-style-type: none;

}

main{
    width: 65%;
    height: 700px;
    margin: 0 auto;
    padding-left: 15%;
    
}

.pillola{
    border-radius: 40px;
    font-size: 15px;
    color: white;
    
}

.blu{
    background-color: rgb(44, 30, 175);
}

.list{
    padding-left: 15%;
    padding-top: 5%;
}

.viola{
    background-color: blueviolet;
}

.verde{
    background-color: green;
}

.gialla{
    background-color: orange;
}

.rosa{
    background-color: pink;
}

.verdino{
    background-color: lightgreen;
}