*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(197, 193, 193);
}

header{
    height: 115px;
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 2rem 2rem;
    margin-bottom: 4rem;
}

img{
    width: 70px;
    vertical-align: middle;
    height: 67px;
    
}

h1{
    display: inline-block;
    font-size: 55px;
    vertical-align: middle;
    
}

ul{
    list-style-type: none;

}

main{
    width: 65%;
    background-color: blue;
    height: 600px;
    margin: 0 auto;
}

section{
    background-color: white;
    padding-left: 4rem;
    
}

.taskbar{
    padding-top: 4rem;
    border-bottom: solid rgb(197, 193, 193);

}

.todolist{
    height: 500px;
}





