*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


img{
    width: 80px;
    vertical-align: middle;
    
}

.button{
    width: 100px;
    height: 40px;
    border-radius: 9px;
    background-color: rgb(37, 87, 224);
    color: rgb(255, 255, 255);
    margin-left: 15%;
    line-height: 2rem;
    padding-left: 1rem;
    display: inline-block;
    
}

.grey{
    width: 40px;
    height: 40px;
    border-radius: 9px;
    background-color: red;
    color: grey;
    margin-left: 15%;
    line-height: 2rem;
    padding-left: 1rem;
    
}

h1{
    display: inline;
    font-size: 55px;
    
}

.add{
    padding: 3% 15% 0% ;
}


ul{
    list-style-type: none;

}

main{
    padding-left: 15%;
    background-color: grey;
}

.pillola{
    border-radius: 100%;
    font-size: 15px;
    color: white;
    
}

.blu{
    background-color: rgb(44, 30, 175);
}

.list{
    padding-left: 15%;
}

.viola{
    background-color: blueviolet;
}

.verde{
    background-color: green;
}

.gialla{
    background-color: orange;
}