*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

img{
    width: 80px;
    vertical-align: middle;
    
}

h1{
    display: inline;
    font-size: 55px;
    
}

.button{
    color: white;
    width: 70px;
    height: 25px;
    background-color: blue;
    display: inline-block;
    border-radius: 10%;

}

.grey{
    color:grey;
    height: 20px;
    background-color: white;
}