*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

img{
    width: 80px;
    vertical-align: middle;
    
}

h1{
    display: inline;
    font-size: 55px;
    
}

.button{
    color: white;
    width: 70px;
    height: 25px;
    background-color: blue;
    display: inline-block;
    border-radius: 10%;
    padding-left: 10%;
    

}

.grey{
    color:grey;
    height: 20px;
    background-color: white;
    border: 20px;
    border-color: black;
    
}

ul{
    list-style-type: none;

}

main{
    padding-left: 30%;
}

.box{
    border-radius: 100%;
    font-size: 15px;
    color: white;
    
}

.blu{
    background-color: red;
}

.lista{
    
}